Tools/bill_creator.py
Resources/bills-58ba1c445d7b.json
Resources/credentials.json
Resources/external_services.cfg
*.pyc
*.cfg
.idea/AutomationTools.iml
venv/
.idea/AutomationTools.iml
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/Activate.ps1
venv/bin/python
venv/bin/python3
.idea/AutomationTools.iml
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
Resources/token.pickle
