miflora~=0.6
bluepy

requests~=2.23.0
docx~=0.2.4
xlrd~=1.2.0
gspread~=3.6.0
openpyxl~=3.0.3
docx2pdf~=0.1.5
oauth2client~=4.1.3
google-api-python-client~=1.8.4
pynput~=1.6.8
aftership~=1.0.post2
configparser~=5.0.0
btlewrap~=0.0.8